.PedidosCurso-container {
  display: flex;
  flex-direction: column;
  width: 564px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #d6d5d5;
  background: #fff;
  padding: 24px 20px 24px 16px;
}

.PedidosCurso-datoscontainer {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 14px;
}

.PedidosCurso-datos {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Pedidos-img {
  width: 38px;
  height: 64px;
  object-fit: cover;
}

.PedidosCurso-profileImage {
  width: 30px; /* Ajusta el tamaño según tus necesidades */
  height: 30px; /* Ajusta el tamaño según tus necesidades */
  border-radius: 50%; /* Esto hace que la imagen sea redonda */
  object-fit: cover; /* Esto asegura que la imagen cubra el área definida sin distorsionarse */
}

.PedidosCurso-infoEntregaContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.PedidosCurso-infoEntrega {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.PedidosCurso-infoUbi {
  display: flex;
  align-items: center;
  gap: 10px;
}

.PedidosCurso-infoUbicacion {
  color: #367dfd;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.PedidosCurso-infoUbicacion:hover {
  color: #2a5fc2;
}

.PedidosCurso-Nota {
  display: flex;
  align-items: center;
  color: #1a3d7d;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 18px;
  border-bottom: 1px solid #1a3d7d;
  padding-bottom: 5px;
}

.infoClientes-ultimaventa {
  display: flex;
  padding: 5px 15px;
  align-items: flex-start;
  border-radius: 10px;
  border: 1px solid #1a3d7d;
  color: #1a3d7d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Poppins", sans-serif;
}
