.ReportesEgresos-container{
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    flex-direction: row;
    margin-top: 70px;
}

.ReportesEgresos-item{
    width: 172px;
    height: 143px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #F2F2F2;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #1A3D7D;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ReportesEgresos-container a {
    text-decoration: none;
}

.ReportesEgresos-item:hover{
    background: #ebebeb;
}