.infoClientes-container{
    width: 49%;
    max-width: 563px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #D6D5D5;
    background: #FFF;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.infoClientes-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoClientes-datoscontainer{
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.infoClientes-datos{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.infoClientes-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoClientes-ventasContainer{
    display: inline-flex;
    align-items: center;
    gap: 26px;
    flex-wrap: wrap;
}

.infoClientes-ventas{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.infoClientes-ultimaventa {
    display: flex;
    padding: 5px 15px;
    align-items: flex-start;
    border-radius: 10px;
    border: 1px solid #1A3D7D;
    color: #1A3D7D;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
}

.infoClientes-moneda{
    display: flex;
    padding: 5px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #1A3D7D;
    background: #1A3D7D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.infoClientes-footer{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.infoClientes-ubi{
    color: #1A3D7D;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}