.Pages {
    display: flex;
    justify-content: space-between;
    height: auto;
    background-color: white;
}

.Title-Pages {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    color: #1B1B1B;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
}

.Title-Pages img {
    filter: invert(1) !important;
}