.ArqueoCaja-containerform{
    margin-top: 80px; 
    width: 45%;
    gap: 24px;
    display: flex; 
    flex-direction: column
}

.ArqueoCaja-tituloform{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ArqueoCaja-bodyform{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ArqueoCaja-itemform{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
}

.ArqueoCaja-itemform input{
    display: flex;
    padding: 12px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid #000;
}

.ArqueoCaja-btn{
    display: flex;
    padding: 11px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #3C9FFF;
    background: var(--Azul, #367DFD);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.ArqueoCaja-btn:hover{
    border: 1px solid #234fa0;
    background: var(--Azul, #234fa0);
}