.Zonas-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

.Zonas-filtro{
    width: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    gap: 13px;
    padding: 33px 20px;
    position: absolute;
    top: 128px;
}

.Zonas-grupo-check{
    display: flex;
    align-items: center;
    gap: 16px;
}

.Zonas-zonas{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 55px;
}