.AsignarPermisos-tituloinput{
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    padding: 10px 35px 10px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.AsignarPermisos-tituloinput-btn{
    background: none;
    border: none;
    cursor: pointer;
    color: #FFF;
}

.AsignarPermisos-grupo-input{
    display: flex;
    align-items: flex-start;
    justify-content: left;
    width: 100%;
    gap: 118px;
}

.AsignarPermisos-grupo-check{
    width: 150px;
    display: flex;
    align-items: start;
    gap: 16px;
}
.AsignarPermisos-grupo-check .input-check{
    margin-top: 2.5px;
}

.AsignarPermisos-text-check{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}