@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

.background-item {
    width: 225px;
    height: 42px;
    margin-left: 10px;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-out;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

.biñeta-item {
    width: 7px;
    height: 24px;
    border-radius: 20px;
    background: none;
    position: initial;
    margin-left: -3px;
    transition: all 0.2s ease-out;
}

.info-item {
    margin-left: 7px;
    width: 100%;
    gap: 15px;
    display: flex;
    align-items: center;
}

.titulo-item {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

}

.notificacion-item {
    width: 32px;
    height: 29px;
    border-radius: 8px;
    background: #367DFD;
    margin-left: 60px;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-item:hover,
.active-link {
    background: #FFF;
    color: #222;
}

.background-item:hover .biñeta-item,
.active-link .biñeta-item {
    background: #697EED;
}

.background-item:hover img,
.active-link img {
    filter: invert(1) !important;
}