.RegistrarVenta-titulo{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    color: var(--Azul-oscuro, #1A3D7D);
    font-family: 'Baloo Bhai 2', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 32px;
    margin-top: 41px;
}

.RegistrarVenta-btn{
    cursor: pointer;
    background: none;
    border: none;
    color: #1A3D7D;
}

.RegistrarVenta-NombreCliente{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.RegistrarVenta-AgregarProducto{
    display: flex;
    width: 100%;
    padding: 16px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.RegistrarVenta-AgregarProductoTitulo{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    width: 100%;
    justify-content: space-between;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.RegistrarVenta-btnAgregarProducto{
    background: none;
    border: none;
    cursor: pointer;
}

.AgregarProductoactive-btn {
    transform: rotateZ(3.142rad);
}

.lineagris{
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
}

.RegistrarVenta-opciones{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
}

.RegistrarVenta-grupo-checbox{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    padding: 16px 0px;
}

.RegistrarVenta-grupo-check{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.RegistrarVenta-input-check{
    width: 18px;
    height: 18px;
    border-color: #808080;
    border-width: 10px;
}

.RegistrarVenta-TablaTitulo2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56vh;
    height: 32px;
    padding: 4px;
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.RegistrarVenta-TablaBody{
    width: 56vh;
    height: 200px;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, rgba(26, 175, 190, 0.00) 0%, rgba(28, 178, 194, 0.75) 12.4%, #1DB4C5 100%);
    padding-bottom: 20px;
}

.RegistrarVenta-agregarproducto{
    display: flex;
    width: 100%;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 20px;
    border: 1px solid #F0F4FD;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.RegistrarVenta-AgregarComentario{
    display: flex;
    width: 100%;
    padding: 16px 0px;
    flex-direction: row;
    align-items: flex-start;
    gap: 11px;
    color: var(--Azul-oscuro, #1A3D7D);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: #1A3D7D 1px solid;
    margin-bottom: 45px;
}

.RegistrarVenta-btnVender{
    width: 320px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid var(--Azul, #367DFD);
    background: var(--Azul, #367DFD);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.RegistrarVenta-btnVender:hover{
    border: #2a66d4;
    background: #2a66d4;
}