.RealizarPedidoCuadro {
  /* width: 450px; */
  height: auto; /* Cambiado para que el contenedor crezca según el contenido */
  border-radius: 20px;
  padding-left: 17px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 20px;
  border: 1px solid #d6d5d5;
  font-family: "Poppins", sans-serif;
}

.titulo-RealizarPedido {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 16px;
}

.selec-pedido {
  width: 100%; /* Ajustado para que ocupe el ancho completo */
  height: 38px;
  padding: 8px 15px; /* Alineación de padding ajustada */
  border-radius: 5px;
  border: 1px solid #626262;
  margin-top: 8px;
  font-size: 14px; /* Ajustado tamaño de fuente */
}

.cantidad-pedido {
  width: 100%; /* Ajustado para que ocupe el ancho completo */
  height: 38px;
  border-radius: 5px;
  border: 1px solid #626262;
  color: #626262;
  font-size: 14px; /* Ajustado tamaño de fuente */
  font-weight: 600;
  display: flex;
  align-items: center;
}

.numero-pedido {
  display: flex;
  align-items: center;
  margin-left: 10px; /* Ajustado margen izquierdo */
}

.boton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.numero-solicitado {
  width: 40px;
  height: 28px; /* Ajustado alto para alineación */
  border-radius: 5px;
  margin: 0 10px; /* Ajustado margen */
  border: 1px solid #626262;
  text-align: center;
  color: #626262;
  font-family: Poppins;
  font-size: 14px; /* Ajustado tamaño de fuente */
  font-weight: 600;
}

.numero-input {
  width: 85px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid #626262;
  padding-left: 10px;
  color: #626262;
  font-size: 14px; /* Ajustado tamaño de fuente */
  font-weight: 600;
}

.letras-Bs {
  width: 43px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid #626262;
  color: #626262;
  font-size: 14px; /* Ajustado tamaño de fuente */
  font-weight: 600;
}

.boton-realizar-pedido {
  width: 166px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #367dfd;
  background: #367dfd;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  margin-top: 10px; /* Añadido margen superior */
}

.boton-realizar-pedido:hover {
  background: #2150a7;
}

.separador-seccion {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #626262;
}
