.cuadroGeneral {
    width: 214px;
    height: 143px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #D6D5D5;
    background: #FFF;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.titulo-cuadro {
    color: #222;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.42px;
    margin-bottom: 10px;
}

.numero-cuadro {
    color: #1A3D7D;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
}

.numero-letra {
    color: #1A3D7D;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
}

.cuadrogeneral-porcentaje {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.porcentaje-verde {
    display: flex;
    padding: 5px;
    align-items: flex-start;
    border-radius: 10px;
    background: #D5FFD4;
    color: #0D970A;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.porcentaje-rojo {
    display: flex;
    padding: 5px;
    align-items: flex-start;
    border-radius: 10px;
    background: #FFD4D4;
    color: #A1140B;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.letras-cuadro {
    color: #777;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}