.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 40%;
    height: 90%;
    padding: 24px;
    border-radius: 16px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    gap: 28px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.Titulo-Modal{
    width: 100%;
    color: #1A3D7D;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
    border: none;
    background: none;
}

.img-modal {
    width: 90px;
    height: 90px;
    background: #52A5F5;
    border-radius: 100%;
    overflow: hidden;
}

.letras-img{
    width: 90px;
    height: 90px;
    color: #FFF;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-camara{
    cursor: pointer;
    border: none;
    background: none;
    position: absolute;
    margin-left: 70px;
    margin-top: 68px;
}

.modal-body {
    width: 100%;
    height: 585px;
    max-height: 585px;
    overflow-y: scroll;
    background: #FFF;
    scrollbar-width: thin;
    scrollbar-color: #000 #F5F5F5;
    display: flex;
    height: 583px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    padding-right: 8px;
}

/* Estilos específicos de las barras de desplazamiento en Chrome y Safari*/
.modal-body::-webkit-scrollbar {
    width: 6px;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 100px;
}

.modal-body::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.grupo-input{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.input-grup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex: 1 0 0;
}

.ubicacion{
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-ubi{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    text-decoration-line: underline;
}

.label-grup{
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.input-text{
    width: 100%;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 12px 15px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    text-align: center;
}

.input-select{
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 12px 15px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    background: #FFF;
}

.grupo-checbox{
    display: flex;
    align-items: center;
    gap: 41px;
    width: 100%;
}

.grupo-check{
    display: flex;
    align-items: center;
    gap: 17px;
}

.text-check{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-check{
    width: 18px;
    height: 20px;
}

.img-carnet{
    width: 100%;
    height: 250px;
    align-self: stretch;
    border-radius: 30px;
    background: #D9D9D9;
}

.boton-img{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.text-img{
    color: #606060;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.carnet{
    width: 70%;
    height: 85%;
    overflow: hidden;
    border-radius: 30px;
    background: #D9D9D9;
}

.Ubi-Google{
    width: 100%;
    height: 339px;
    align-self: stretch;
}

.switch-input{
    display: flex;
    align-items: center;
    gap: 111px;
    align-self: stretch;
    justify-content: space-between;
}

.switch-container {
    position: relative;
    display: inline-block;
    width: 67.53px;
    height: 19px;
}

.title-switch{
    color: #CCCCCC;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 114.286% */
}

.switch-container input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCCCCC;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #005B96;
}

input:checked + .slider:before {
    -webkit-transform: translateX(47px);
    -ms-transform: translateX(47px);
    transform: translateX(47px);
}



.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    gap: 25px;
}

.btn-cancelar{
    color: #367DFD;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 50%;
    display: flex;
    padding: 11px 24px;
    align-items: center;
    align-self: stretch;
    border-radius: 30px;
    border: 1px solid #367DFD;
    background: #FFF;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    cursor: pointer;
}
.btn-cancelar:hover{
    background: #ececec;
}

.btn-registrar{
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;
    display: flex;
    padding: 11px 24px;
    align-items: center;
    align-self: stretch;
    border-radius: 30px;
    border: 1px solid #3C9FFF;
    background: #367DFD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    cursor: pointer;
}
.btn-registrar:hover{
    background: #234fa0;
}