.FiltroClientes-Renovación{
    display: flex;
    padding: 20px 0px 16px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    align-self: stretch;
}

.FiltroClientes-RenovaciónTitulo{
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    align-self: stretch;
    color: #222;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 133.333% */
}

.FiltroClientes-btnAgregarProducto{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FiltroClientesactive-btn {
    transform: rotateZ(3.142rad);
}

.FiltroClientes-RenovaciónOption{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.FiltroClientes-Renovadoinicio{
    display: flex;
    align-items: center;
    gap: 50px;
    align-self: stretch;
    justify-content: space-between;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.FiltroClientes-Botones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.FiltroClientes-BotonesNumero{
    width: 40px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid var(--Azul-fuerte, #005B96);
    background: #FFF;
    text-align: center;
    color: var(--Negro, #1B1B1B);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.FiltroClientes-Botonesbtn{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #005B96;
}

.FiltroClientes-Fechastitulo{
    color: #1A3D7D;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.FiltroClientes-Fechascontainer{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.FiltroClientes-Fecha{
    width: 50%;
    height: 68px;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 20px;
    padding-top: 10px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.FiltroClientes-FechaInput{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
}

.FiltroClientes-FechaInput input {
    border: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.FiltroClientes-Cuentas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.FiltroClientes-CuentasOption{
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 16px;
}

.FiltroClientes-CuentasOptionInput{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
}

.FiltroClientes-CuentasOptionTitulo{
    display: flex;
    align-items: center;
    gap: 12px;
    color: #1A3D7D;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.FiltroClientes-CuentasPorCobrar{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.FiltroClientes-Distribuidores{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.FiltroClientes-DistribuidoresOpcion{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.FiltroClientes-zona{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}