.RegistrarNuevo-modalContent{
    width: 320px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--Blue-Stroke, #F0F4FD);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px 15px;
}

.RegistrarNuevo-btnPedido{
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #1A3D7D;
    background: #1A3D7D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.RegistrarNuevo-btnCancelar{
    display: inline-flex;
    padding: 5px 10px;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid #FF1F1F;
    color: #FF1F1F;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}