.ReportesEgresosGraficos-container{
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    flex-direction: row;
    margin-top: 70px;
}

.ReportesEgresosGraficos-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 139px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #F2F2F2;
    background: var(--Azul-oscuro, #1A3D7D);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 10px;
    padding-left: 22px;
    padding-right: 22px;
}

.ReportesEgresosGraficos-item:hover{
    background: var(--Azul-oscuro, #163266);
}

.ReportesEgresosGraficos-container a{
    text-decoration: none;
}