.PedidosCurso-container {
    display: flex;
    flex-direction: column;
    width: 564px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #D6D5D5;
    background: #FFF;
    padding: 24px 20px 24px 16px;
}

.PedidosCurso-datoscontainer {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
}

.PedidosCurso-datos{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Pedidos-img{
    width: 38px;
    height: 64px;
    object-fit: cover;
}

.PedidosCurso-infoEntregaContainer{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.PedidosCurso-infoEntrega{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.PedidosCurso-infoUbi{
    display: flex;
    align-items: center;
    gap: 10px;
}

.PedidosCurso-infoUbicacion{
    color: #367DFD;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.PedidosCurso-Nota{
    display: flex;
    align-items: center;
    color: #1A3D7D;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 18px;
    border-bottom: 1px solid #1A3D7D;
    padding-bottom: 5px;
}