.CuadroHistorialCredito-container{
    width: 561px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #F0F4FD;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 13px 21px 33px 21px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.CuadroHistorialCredito-body-1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}