.CuadroPrestamo-container {
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #f0f4fd;
  background: #fff;
  padding: 15px;
}

.CuadroPrestamo-texto {
  font-family: "Baloo Bhai 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}