.Barrios-zonaItem{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 18px;
    flex-wrap: wrap;
}

.Barrios-zonaItemGrup{
    display: flex;
    gap: 24px;
    align-items: center;
    width: 95%;
}

.Barrios-zonaItemGrup1{
    width: 50%;
    display: flex;
    padding: 6px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Barrios-zonaItemGrup2{
    width: 50%;
    padding: 6px 9px 6px 62px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}