.CuadroUsuarios-container{
    width: 100%;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #F0F4FD;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 16px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.CuadroUsuarios-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CuadroUsuarios-header1{
    display: flex;
    align-items: center;
    gap: 24px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.CuadroUsuarios-btn{
    border: none;
    background: none;
    cursor: pointer;
}