@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,600;0,9..40,700;0,9..40,900;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');

.Sidebar {
    width: 252px;
    height: 100vh;
    min-width: 252px;
    min-height: 100vh;
    overflow-y: scroll;
    background: #1A3D7D;
    scrollbar-width: thin;
    scrollbar-color: #18315e transparent;
}

/* Estilos específicos de las barras de desplazamiento en Chrome */
.Sidebar::-webkit-scrollbar {
    width: 7px;
}

.Sidebar::-webkit-scrollbar-thumb {
    background-color: #18315e;
}

.Sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}

.Logo {
    width: 243px;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Baloo Bhai 2', sans-serif;
}

.smart {
    color: #52A5F5;
    font-size: 24px;
    font-weight: 600;
    line-height: 38.93px;
}

.water {
    color: #FCFDFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 38.93px;
}

ul a {
    list-style: none;
    text-decoration: none;
}

.btn-salir {
    display: inline-flex;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    gap: 40px;
    background: #FFF;
    align-items: center;
    color: #1B1B1B;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}