.Mapaclientes-ubicacion {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.MapaClientes .gm-style>div>div:last-child {
    left: 0px !important;
    right: unset !important;
}