.RegistrosEyG-Cuadro1{
    display: flex;
    width: 100%;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.RegistrosEyG-Cuadro1-text{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.CuadroRegistrarEyG-container{
    display: flex;
    min-width: 560px;
    max-width: 560px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.CuadroRegistrarEyG-container2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    width: 100%;
}

.CuadroRegistrarEyG-comentario{
    display: flex;
    width: 100%;
    height: 66px;
    padding: 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #000;
}