.cuadroClientes {
    width: 450px;
    height: 274px;
    border-radius: 20px;
    padding-top: 15px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    border: 1px solid #D6D5D5;
    background: #FFF;
    font-family: 'Poppins', sans-serif;
}

.titulo-cliente {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 6px;
    margin-left: 3px;
}

.Cliente-title {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Cliente-title2 {
    color: #828282;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.todos-clientes {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 19px;
    margin-top: 15px;
}

.cliente {
    display: flex;
    align-items: center;
    gap: 40px;
}

.perfil-cliente {
    min-width: 137px;
    min-height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.fecha-pago {
    display: flex;
    align-items: center;
    gap: 16px;
}

.fecha-cliente {
    display: flex;
    padding: 5px 15px;
    align-items: flex-start;
    gap: 5px;
    border-radius: 10px;
    border: 1px solid #1A3D7D;
    color: #1A3D7D;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.moneda-cliente {
    display: flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--Azul-oscuro, #1A3D7D);
    background: var(--Azul-oscuro, #1A3D7D);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}