.FiltroCuentasPorPagar-FechaContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.FiltroCuentasPorPagar-titulos{
    color: #1A3D7D;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.FiltroVenta-Fechascontainer{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.FiltroVenta-Fecha{
    width: 50%;
    height: 68px;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 20px;
    padding-top: 10px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.FiltroVenta-FechaInput{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    width: 100%;
}

.FiltroVenta-FechaInput input {
    border: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.FiltroCuentasPorPagar-selectContainer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    flex-direction: column;
}

.FiltroCuentasPorPagar-selectContainer label {
    color: var(--Azul-oscuro, #1A3D7D);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.FiltroCuentasPorPagar-selectContainer select {
    width: 260px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #000;
    padding: 8px 15px;
    background: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.FiltroCuentasPorPagar-itemCheckContainer{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    flex-wrap: wrap;
}

.FiltroCuentasPorPagar-itemCheckContainerColum{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
    flex-wrap: wrap;
}

.FiltroCuentasPorPagar-itemCheck{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 48%;
}

.FiltroCuentasPorPagar-itemCheckColum{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.FiltroCuentasPorPagar-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.FiltroCuentasPorPagar-containercheck{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 48%;
    gap: 16px;
}

.FiltroCuentasPorPagar-item{
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.FiltroVenta-itemNumero{
    width: 65px;
    height: 19px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #F2F2F2;
    background: #F4F4F4;
    text-align: center;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}