@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-sidebar: 26 61 125;
  --bg-main: 255 255 255;
  --blue-custom: 26 61 125;
  --blue-custom-hover: 35 85 176;
  --blue-bright: 37 99 235;

  --bg-blocks: 255 255 255;
  --bg-blocks-hover: 235 235 235;
  --font-color: 27 27 27;
  --shadow-color: 27 27 27 / 25%;
  
  color: rgb(27, 27, 27);
}

body.dark {
  --bg-sidebar: 17 17 17;
  --bg-main: 34 34 34;
  --blue-custom: 54 125 253;
  --blue-custom-hover: 65 149 255;
  --blue-bright: 37 99 235;
  
  --bg-blocks: 51 51 51;
  --bg-blocks-hover: 65 65 65;
  --font-color: 254 254 254;
  --shadow-color: 254 254 254 / 25%;

  color: rgb(254, 254, 254);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.custom-map-control-button {
  background: none rgb(255, 255, 255);
  border: 0px;
  margin: 10px;
  padding: 8px;
  appearance: none;
  position: absolute;
  font-size: 1.3rem;
  color: #5e5959;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  height: 40px;
  width: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  overflow: hidden;
}

.react-datepicker__triangle::before {
  @apply dark:!border-0;
}

.react-datepicker__triangle::after {
  @apply  !border-t-blocks;
}

.react-datepicker__header {
  @apply bg-blocks dark:border-b-black;
}

.react-datepicker__header .react-datepicker__current-month,
.react-datepicker__header .react-datepicker__day-name {
  @apply text-font-color;
}

.react-datepicker__day {
  @apply invert-0 dark:invert-[0.75];
}

.switch-contenido {
  display: flex;
  min-width: 321px;
  max-width: 413px;
  height: 40px;
  border-radius: 30px;
  background: rgb(var(--bg-main));
  @apply shadow-md dark:shadow-slate-100/25;
}

.switch-option {
  flex: 1;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(var(--font-color));
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.switch-option.selected {
  border-radius: 30px;
  background: rgb(var(--blue-bright));
  box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
  height: calc(100% - 1.5px);
}

input[type="month"].full-selector,
input[type="time"].full-selector,
input[type="datetime-local"].full-selector,
input[type="date"].full-selector {
  position: relative;
}

input[type="month"].full-selector::-webkit-calendar-picker-indicator,
input[type="time"].full-selector::-webkit-calendar-picker-indicator,
input[type="datetime-local"].full-selector::-webkit-calendar-picker-indicator,
input[type="date"].full-selector::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  outline: none;
}

input[type=number].no-spinner::-webkit-inner-spin-button,
input[type=number].no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number].no-spinner {
  -moz-appearance: textfield;
}

/* React data table */
.rdt_TableHeadRow,
.rdt_TableRow,
.rdt_TableHeader,
.sc-gBoluC {
  background-color: rgb(var(--bg-main)) !important;
  color: rgb(var(--font-color)) !important;
}

.rdt_TableHeadRow {
  font-weight: 700;
  font-size: 0.875rem;
}

.rdt_TableHeadRow,
.rdt_TableRow:not(:last-of-type) {
  @apply !border-b-font-color/20;
}

.no-border .rdt_TableHeadRow,
.no-border .rdt_TableRow:not(:last-of-type) {
  border: none !important;
}

.no-inner-border .rdt_TableRow:not(:last-of-type) {
  border: none !important;
}

.with-vertical-border .rdt_TableHeadRow .rdt_TableCol:not(:last-of-type),
.with-vertical-border .rdt_TableRow div[role="cell"]:not(:last-of-type) {
  @apply border-r border-r-font-color/10;
}