.backgroundSub-item {
    width: 225px;
    height: 42px;
    margin-left: 10px;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-out;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

.biñetaSub-item {
    width: 7px;
    height: 24px;
    border-radius: 20px;
    background: none;
    position: initial;
    margin-left: -3px;
    transition: all 0.2s ease-out;
}

.infoSub-item {
    margin-left: 7px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoTitle-item {
    gap: 15px;
    display: flex;
    align-items: center;
}

.tituloSub-item {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

}

.btn-option {
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 8px;
}

.active-btn {
    transform: rotateZ(3.142rad);
}

.opciones-container {
    background: transparent;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left: 45px;
}

.opcion {
    color: #FFF;
    width: 100%;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
}

.opcion:hover,
.active-link {
    color: #3C9FFF;
}
.activo{
    color: #3C9FFF;
}


.backgroundSub-item:hover,
.active-link {
    background: #FFF;
    color: #222;
}

.backgroundSub-item:hover .biñetaSub-item,
.active-link .biñetaSub-item {
    background: #697EED;
}

.backgroundSub-item:hover img,
.active-link img {
    filter: invert(1) !important;
}