.contenido {
    width: 85%;
    min-width: 1019px;
    max-height: 1024px;
    margin-left: 20px;
    margin-top: 16px;
    font-family: 'Poppins', sans-serif;
}

.titulo-1 {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 14px;
}

.home {
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 14px;
}

.img-HomeInicio {
    width: 34px;
    height: 30px;
}

.letras-home {
    color: #1B1B1B;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word
}

.Cuadros-informativos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Cuadros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.sub-title{
    color: #222;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 30px;
}
